		<!DOCTYPE HTML>
		<html lang="es-ES">
		<head>
			<meta charset="UTF-8">
			<title>Calculadora</title>
		</head>
		<body>
		<center>
			<H2>Calculadora</H2><br>
			<img src="http://blog.webhostpython.com/wp-content/uploads/2015/08/perl.png" alt="">
		</center>
		
		
		<H3>SUMA</H3><br>
		<form action="#" method="POST">
			<table>
			<tr>
				<td><input type="text" name="numero1"></td>
			</tr>
			<tr>
				<td><input type="text" name="numero2"></td>
			</tr>
			<tr>
				<td><input type="hidden" name="selector" value="suma"></td>
			</tr>
			<tr>
				<td> <input type="submit" value="sumar"/> </td>
			</tr>
		</table>
		</form>
		<br>

		<H3>RESTA</H3><br>
		<form action="#" method="POST">
			<table>
			<tr>
				<td><input type="text" name="numero3"></td>
			</tr>
			<tr>
				<td><input type="text" name="numero4"></td>
			</tr>
			<tr>
				<td><input type="hidden" name="selector" value="resta"></td>
			</tr>
			<tr>
				<td> <input type="submit" value="restar"/> </td>
			</tr>
		</table>
		</form>

		<br>
		<H3>MULTIPLICACION</H3><br>
		<form action="#" method="POST">
			<table>
			<tr>
				<td><input type="text" name="numero5"></td>
			</tr>
			<tr>
				<td><input type="text" name="numero6"></td>
			</tr>
			<tr>
				<td><input type="hidden" name="selector" value="multiplicacion"></td>
			</tr>
			<tr>
				<td> <input type="submit" value="multiplicacion"/> </td>
			</tr>
		</table>
		</form>

		<br>
		<H3>DIVISION</H3><br>
		<form action="#" method="POST">
			<table>
			<tr>
				<td><input type="text" name="numero7"></td>
			</tr>
			<tr>
				<td><input type="text" name="numero8"></td>
			</tr>
			<tr>
				<td><input type="hidden" name="selector" value="division"></td>
			</tr>
			<tr>
				<td> <input type="submit" value="division"/> </td>
			</tr>
		</table>
		</form>

		

		</body>
		</html>