<html>
<head>
	<title>PASSWD</title>
</head>
<body>
	<table border="1">
			<tmpl_loop NAME="passw">
				<tr>
					<td><b> <TMPL_VAR NAME="llave"> </b></td>
					<td><TMPL_VAR NAME="valor"> </td>
					
				</tr>
			</tmpl_loop>
	</table>
</body>
</html>